* {
  box-sizing: border-box;
}

.header-nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px;
}

.header-nav a {
  color: black;
  text-decoration: none;
}

.left-nav {
}

.right-nav button {
  background-color: #567b95;
  border: 1px solid #326891;
  color: white;
  border-radius: 3px;
  font-size: 0.7rem;
  padding: 8px;
  font-weight: bold;
}

.left-nav a {
  margin-right: 1.5rem;
}

.center-nav {
}
