/* General styles */

@font-face {
  font-family: "chomskyregular";
  src: url("../fonts/chomsky-webfont.woff2") format("woff2"),
    url("../fonts/chomsky-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* header */
.header-nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
}

.header-nav a {
  color: black;
  text-decoration: none;
}

.page-category {
  font-family: nyt-franklin, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
}

.right-nav button {
  background-color: #567b95;
  border: 1px solid #326891;
  color: white;
  border-radius: 3px;
  font-size: 0.7rem;
  padding: 8px;
  font-weight: bold;
}

.left-nav a {
  margin-right: 1.5rem;
}

.center-nav {
  font-family: chomskyregular, sans-serif;
  font-size: 1.5rem;
}

.site-header {
  border-bottom: 1px solid rgb(203, 204, 199);
}

.main-section {

  display: flex;
  justify-content: center
}

.article-section {
  width: 945px;
}

.article-header {
  width: inherit;
}

.article-h1 {
  text-align: center;
  padding: 2rem;
  font-size: 2.2rem;
}

.image-div {
  width: inherit;
  text-align: center;
}

.credits {
  color: grey;
  font-size: 0.85rem;
}

.article-container{
  display: grid;
  grid-template-columns:.5fr 2fr .5fr;
}

.article-text{
  grid-column: 2;
}

